<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Event Handler | Welcome </title>
        <link rel="stylesheet" href="../resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%if(header){%>
        <% include header-con.ejs %>
        <% } else { %>
            <% include header.ejs %>
        <%}%>
        <section id ="Connection-detail">
            <div class="container">
                <div class="event-detail">
                    <% if(connectiondata === undefined){ %>
                        <h2>Please login!<a href="/newConnection">Click here</a></h2>
                   <% } %>
                    <h2><%=connectiondata.connection_name%></h2>
                <!-- </div> -->
                <!-- <div class="user-details"> -->
                    <img src="<%= connectiondata.connection_display%>" id="user-img" alt="user-image">
                    <ul id="user-info">
                        <li> Hosted By: <%=connectiondata.connection_host%></li>
                        <li>Day&Time: <%=connectiondata.date_time%></li>
                        <li>Location: <%=connectiondata.connection_location%></li>
                    </ul>

            
                <!-- <div class="event-detail"> -->
                        <h2>Details</h2>
                        <p><%=connectiondata.details%></p>
                </div>
                <div class="event-decision">

                    <h3>Are you going? 11 people are going</h3>
                    <ul id="event-decision-button">
                        <li><button type="submit" onclick="location.href='/savedConnections?action=updateRSVP&connectionid=<%=connectiondata.connectionID%>&rsvp=Yes'" id="yes-button">Yes</button></li>
                        <li><button type="submit" onclick="location.href='/savedconnections?action=updateRSVP&connectionid=<%=connectiondata.connectionID%>&rsvp=No'" id="no-button">No</button></li>
                        <li><button type="submit" onclick="location.href='/savedconnections?action=updateRSVP&connectionid=<%=connectiondata.connectionID%>&rsvp=Maybe'" id="maybe-button">Maybe</button></li>
                    </ul>
                </div>
            </div>

            
        </section>
        <% include footer.ejs %>
    </body>
</html>