<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Event Handler | Welcome </title>
        <link rel="stylesheet" href="../resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include header-con.ejs %>
     
        <section id ="user-connection">
            <div class="container">
                <div class="user-name">
                     <h2>Welcome, <%=user.first_name%></h2>
                    
                 </div>
                 <div class="user-table">
                     <h2><%=user.first_name%>'s Connection</h2>
                     <table>
                        <tr>
                            <th>Connection</th>
                            <th>Category</th> 
                             <th>Going?</th>
                             <th></th>
                        </tr>

                            <%if(connectiondata != null) {%>
                                
                             <% for(var i=0; i< connectiondata.length; i++){ %>
                                 <tr>
                                     <th><a href="/connection?id=<%=connectiondata[i].connectionID%>"><%=connectiondata[i].connection_name%></a></th>
                                     <th><%=connectiondata[i].connection_topic%></th>
                                     <th><%=connectiondata[i].user_yes%><%=connectiondata[i].user_no%></th>
                                     <th><ul class="up-del"><li><button type="submit" onclick="location.href='/connection?connectionid=<%=connectiondata[i].connectionID%>'" class="update-button" >Update</button></li><li><button type="submit" class="cancel-button">Cancel</button></li></ul></th>

                                 </tr>
                                <% } %>
                            <% } else { %>

                            <% for(var i =0; i< connectiondata.length; i++){ %>
                                <tr>
                                <th><a href="/connection?id=<%=connectiondata[i].connectionID%>"><%=connectiondata[i].connection_name%></a></th>
                                <th><%=connectiondata[i].connection_topic%></th>
                                <th><%=connectiondata[i].user_yes%><%=connectiondata[i].user_no%></th>
                                <th><ul class="up-del"><li><button type="submit" onclick="location.href='/connection?connectionid=<%=connections[i].connectionID%>'" class="update-button" >Update</button></li><li><button type="submit" class="cancel-button">Cancel</button></li></ul></th>
                                </tr>
                           <% } %>
                            <% } %>
                     </table>
                 </div>
             </div>
        </section>
        <% include footer.ejs %>
    </body>
</html>